@model Game.Models.Character

@{
    ViewData["Title"] = "Details of character";
}

<h1>Details of @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>
        <dt class = "col-sm-2">
            Weapon Damage
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon.Damage)
        </dd>
        <dt class = "col-sm-2">
            Total Damage
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.TotalDamage
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
