@model IEnumerable<Game.Models.Character>

@using Microsoft.AspNetCore.Identity
@using Game.Utils;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "All characters";
}

@if(Utils.CanApproveCharacters(ViewBag.Roles))
{
    <h1>All characters</h1>
    <p>Roles: @string.Join(", ", ViewBag.Roles)</p>
} else
{
    <h1>All my characters</h1>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon)
            </th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @(item.Weapon != null ? item.Weapon.Name : "No Weapon")
            </td>
            <td>
                @if(item.IsApproved)
                {
                    <span class="btn-primary btn">Approved</span>
                }
                else
                {
                    <span class="btn-primary btn">Awaiting approval</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @if(Utils.CanApproveCharacters(ViewBag.Roles))
                {
                    if(!item.IsApproved) {
                        <form method="post" asp-action="Approve" asp-route-id=@item.Id>
                            <input class="btn btn-danger" type="submit" value="Approve"/>
                        </form>
                    }
                    
                }
            </td>
        </tr>
}
    </tbody>
</table>
